a
{
    background-color: #3987C9;
    padding: 12px;
    color: white;
    display: inline-block;
    margin-top: 5px;
}

body
{
    	display: table;
   	margin: auto;
    	overflow-x:hidden;
	background-color: white;
}

.input
{
	width: 100vw;
}

.input-button
{
	width: 100vw;
}

@media only screen and (min-width: 800px) {

.input
{
	margin-left: 4px;
	width: 77%;
}

.input-button
{
	display: inline;
	width: 20%;
}

}