a
{
    background-color: #3987C9;
    padding: 12px;
    color: white;
    display: inline-block;
    margin-top: 5px;
}

body
{
    	display: table;
   	margin: auto;
    	overflow-x:hidden;
    	overflow-y:hidden;
	background-color: coral;
}

textarea
{
	width: 100vw;
	height: 50vh;
	background-color: #EEEEEE;
}

.input
{
	width: 100vw;
}

.input-button
{
	width: 100vw;
}

@media only screen and (min-width: 800px) {

textarea
{
	width: 800px;
	height: 80vh;
}

.input
{
	margin-left: 4px;
	width: 77%;
}

.input-button
{
	display: inline;
	width: 20%;
}

}