a
{
    background-color: #3987C9;
    padding: 12px;
    color: white;
    display: inline-block;
    margin-top: 5px;
}

body
{

	font-family: Arial, Helvetica, sans-serif;

	font-size: 90%;
	overflow-x: hidden;
}

h1
{
	font-family: Arial, Helvetica, sans-serif;

	font-size: 150%;
	overflow-x: hidden;
}

